@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #fff;
  color: #000;
}

html {
  min-width: 360px;
}

@media (max-width: 768px) {
  .overflow-x-auto {
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .overflow-x-auto > div {
    scroll-snap-align: start;
  }

  .overflow-x-auto::-webkit-scrollbar {
    display: none;
  }
}

